*{
    box-sizing: border-box;
}
.myTable {
    border-collapse: collapse;
}
.myTable .footerTable {
    background-color: rgba(128, 128, 128, 0.1);
    text-align: center;
}
.myTable td, .myTable th {
    height: 40px;
    border: 1px solid black;
    background: white;
}

.thCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tdCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
}

.myTable{
    overflow: auto;
    margin-top: 50px;
    table-layout: fixed;
}
.myTable svg{
    width: 100%;
    height: 100%;
}
.myTable button{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background: none;
    border: none;
}

.thPopperAddCont{
    width: 6px;
    height: 40px;
    position:relative;
    cursor: col-resize;
}
.tdPopperAddCont{
    width: calc(100% + 40px);
    height: 6px;
    position:relative;
}
.thPopperRemoveCont{
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
}
body:has(.thPopperAddCont:hover){
    user-select: none;
}
.thPopperRemove{
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    top: -32px;
    transform: translate(-50%, -50%);
}
.myTable th:hover:not(:has(.thPopperAddCont:hover)) .thPopperRemoveCont{
    visibility: initial;
}
.tdPopperRemoveCont{
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 100%;
    visibility: hidden;
}
.tdPopperRemove{
    position: absolute;
    display: flex;
    left: -5px;
    justify-content: start;
    align-items: center;
    width: 35px;
    transform: translate(-50%, -50%);
}
.myTable td:hover:not(:has(.tdPopperAddCont:hover)) .tdPopperRemoveCont{
    visibility: initial;
}
.myTable th{
    position: relative;
}
.myTable td{
    position: relative;
}

.myTable .tdCont:focus{
    outline: 2px solid black;
}
.myTable .tdCont:has(.textNode:focus){
    outline: 2px solid black;
}


.textNode{
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: text;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textNode:focus{
    outline: 0;
}
.thPopperAdd{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    width: 80px;
    height: 50px;
    position: absolute;
    top: -43px;
    visibility: hidden;

}
.tdPopperAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 23px;
    position: absolute;
    left: -28px;
    visibility: hidden;
}
.thPopperAddInput{
    width: 100%;
}
.thPopperAddCont:hover .thPopperAdd{
    visibility: initial;
}
.thPopperAdd:hover {
    visibility: initial;
}
.thPopperAdd:has(input:focus){
    visibility: initial;
}

.tdPopperAddCont:hover .tdPopperAdd{
    visibility: initial;
}
.tdPopper:hover {
    visibility: initial;
}
.left2{
    left: 1px;
}
.right2{
    right: 1px;
}
.bottom5{
    bottom: 1px;
}
.top5{
    top: 1px;
}
